@use "../abstracts/mixins" as m;
@use "../abstracts/colors" as c;

.onboarding {
  @include m.distinctSize(100vw, 100vh);
  display: flex;
  @include m.respond("tablet-8") {
    display: block;
  }

  &.onboarding-2 {
    background: transparent url("../../assets/images/2.png") 0% 0% no-repeat
      padding-box;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  &__logo {
    &-container {
      flex-basis: 15%;
      left: 41px;
      margin-top: 2rem;
      margin-left: 2rem;
    }

    @include m.distinctSize(149px);

    @include m.respond("tablet-8") {
      width: 250px;
    }

    @include m.respond("phone-smallest") {
      width: 180px;
    }
  }
  &__center {
    flex-basis: 42%;
    padding-top: 6rem;

    align-items: center;
    justify-content: center;

    @include m.respond("desktop-wide", min) {
      justify-content: unset;
    }

    @include m.respond("phone") {
      padding: 1.25rem;
    }

    &__content {
      width: 400px;

      @include m.respond("desktop-wide", min) {
        margin-left: 221px;
        margin-right: auto;
      }

      @include m.respond("phone-wide") {
        width: 100%;
      }
    }
  }

  &__right {
    position: relative;

    &-text {
      position: absolute;
      text-align: right;
      width: 70%;
      bottom: 10%;
      margin: 0;
      padding: 0% 0% 0% 22%;

      &-1 {
        margin-bottom: 0px !important;
      }
      &-2 {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
      }
      &-3 {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
      }
      &-line-1 {
        border-bottom: 3px solid green;
        opacity: 1;
        width: 3rem;
        height: 47px;
        transform: translateY(-2.5rem) translateX(13.7rem) rotate(0deg);
        position: absolute;
      }
      &-line-2 {
        border-bottom: 3px solid c.color(grey-500);
        opacity: 1;
        width: 3rem;
        height: 47px;
        transform: translateY(-2.5rem) translateX(17.1rem) rotate(0deg);
        position: absolute;
      }
      &-line-3 {
        border-bottom: 3px solid c.color(grey-500);
        opacity: 1;
        width: 3rem;
        height: 47px;
        transform: translateY(-2.5rem) translateX(20.5rem) rotate(0deg);
        position: absolute;
      }
    }

    @include m.respond("desktop") {
      background-position: center;
      display: none;
    }

    @include m.respond("tablet-8") {
      display: none;
    }

    @include m.respond("phone") {
      padding: 1.25rem;
      display: none;
    }
  }

  &__login {
    padding-left: 13rem;

    &-bottom {
      padding-top: 35px;
      display: flex;
      padding-left: 16.6rem;
      @include m.respond("phone") {
        padding-top: 25px;
        align-items: flex-end;
        justify-content: flex-end;
      }
      @include m.respond("tablet-8") {
        align-items: flex-end;
      }
    }

    @include m.respond("tablet-8") {
      justify-content: right;
    }

    @include m.respond("phone") {
      justify-content: start;
    }
  }

  &__heading {
    margin-bottom: -5px;
  }

  &__subheading {
    margin-bottom: 25px;
  }
  &__footer {
    display: flex;
    position: fixed;
    flex-direction: row;
    bottom: 0;
    left: 41px;
    width: 100%;
    &-text-left {
      flex-basis: 48%;
      @include m.respond("phone") {
        flex-basis: 36%;
      }
    }
    &-text-center {
      @include m.respond("phone") {
        display: none;
      }
      @include m.respond("tablet-8") {
        display: none;
      }
    }
    @include m.respond("tablet-8") {
      left: 25px;
      justify-content: space-between;
    }

    @include m.respond("phone") {
      left: 25px;
      justify-content: space-between;
      padding-top: 25px;
    }
  }
}
